<!DOCTYPE html>
<html>
    <head>
        <title>SeaLifeMonitoring</title>
    </head>

    <body>
        <h1>Add an Area</h1>

        <form id="area_form" method="post" action="/Monitoring/add_area/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Create Area" />
        </form>
    </body>

</html>
