{% extends 'monitoring/base.html' %}

{% block title %}{{ 'Add Information' }}{% endblock %}

{% block body_block %}
<div class="hero-unit">
	<h1>Add Database Information</h1>
	<!--needs to be reworked to use dinamic data (dictionary)-->
	<ul>
		<li><a href="/monitoring/add_area/">Add a New Area</a></li>
		<li>Vessel</li>
		<li>Cruise</li>
		<li>Notes</li>
		<li>Stations</li>
		<li>TypeSpec</li>
		<li>TAXA</li>
		<li>ChemParam</li>
		<li>Event</li>
		<li>Chemistry</li>
		<li>DataAB</li>
		<li>SizeAgeFish</li>
		<li>Age</li>
		<li>Size</li>
	</ul>
</div>
{% endblock %}
