{% extends 'monitoring/base.html' %}

{% block title %}{{ 'Add Information' }}{% endblock %}

{% block body_block %}
<div class="hero-unit">
	<h1>Add Database Information</h1>
	<!--needs to be reworked to use dinamic data (dictionary)-->
	<ul>
		<li><a href="/monitoring/add_area/">Add a New Area</a></li>
		<li><a href="/monitoring/add_vessel/">Add a New Vessel</a></li>
		<li><a href="/monitoring/add_cruise/">Add a New Cruise</a></li>
		<li><a href="/monitoring/add_note/">Add a New Note</a></li>
		<li><a href="/monitoring/add_station/">Add a New Station</a></li>
		<li><a href="/monitoring/add_typespec/">Add a New TypeSpec</a></li>
		<li><a href="/monitoring/add_taxa/">Add a New TAXA</a></li>
		<li><a href="/monitoring/add_chemparam/">Add a New ChemParam</a></li>
		<li><a href="/monitoring/add_event/">Add a New Event</a></li>
		<li><a href="/monitoring/add_chemistry/">Add a New Chemistry</a></li>
		<li><a href="/monitoring/add_dataab/">Add a New DataAB</a></li>
		<li><a href="/monitoring/add_sizeagefish/">Add a New SizeAgeFish</a></li>
		<li><a href="/monitoring/add_age/">Add a New Age</a></li>
		<li><a href="/monitoring/add_size/">Add a New Size</a></li>
	</ul>
</div>
{% endblock %}
