<!DOCTYPE html>
{% load static %} <!--New Line-->
<html>
    <head>
        <title>SeaLifeMonitoring</title>
    </head>

	<body>
    	  <h1 align=center>Welcome to <br/>
				<strong>Sea Life Monitoring<strong><br/>
				The comprehensive Black Sea sea life monitoring app<br/>
        </h1>
        <h2>last 5 events:</h2>
        {% if events %}
            <ul>
                {% for category in events %}
                <li>{{ category.Institute_Code }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        <a href="/Monitoring/add_area/">Add a New Area</a><br/>
        <a href="/Monitoring/about/">About</a><br />
	</body>

</html>
