{% extends 'monitoring/base.html' %}

{% block title %}{{ 'index' }}{% endblock %}

{% block body_block %}
<div class="hero-unit">
	  	  <h1 align=center>Welcome<br/></h1>
				<h2 align=center><strong> to Sea Life Monitoring<strong><br/>
				<p>The Black Sea monitoring app</p></h2>
        
			<!--{% if user.is_authenticated %}
			<h1>Rango says... hello {{ user.username }}!</h1>
			{% else %}
			<h1>Rango says... hello world!</h1>
			{% endif %}    this was used to test login capability (legacy)-->
</div>
<div class="row-fluid">
    <div class="span6">   
        <h2>Last 5 events and the institutes supporting them:</h2>
        {% if events %}
            <ul>
                {% for category in events %}
                <li>{{ category.Institute_Code }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </div>
    
    <div class="span6">   
        <br/><a href="/monitoring/add_area/">Add a New Area</a>
	</div>
</div>
{% endblock %}
